.order-form {
  width 100%;
  height 100%;

  .finish-controls {
    & > div {
      float left;
      width 50%;
      text-align center;
      text-transform uppercase;
    }

    .repick-items {
      color: #fff;
      background #444;
    }
    .btn-finish {
      background-color: #ff792c;
      color: #fff;
    }
  }
}