.intro-step {
  height 100%;
  background: url(../../assets/img/menu.gif) center no-repeat;
  background-size: cover;
  overflow auto;

  padding-top 46px;
  position relative;

  .install-app {
    position: absolute;
    top: 0;
    left: 0;
    width 100%;
    height 46px;

    background-color: #555;
    color white;

    padding 11px 0 0 55px;
    font-size: 16px;

    img {
      position: absolute;
      top: 11px;
      left: 13px;
      width 30px;
      height 30px;
    }

    .btn-install {
      position: absolute;
      top: 7px;
      right: 9px;
      text-transform uppercase;

      background-color: #ff792c;
      color: #fff;
      border-radius: 4px;
      padding 6px 12px;
      font-size 14px;
    }
  }


  .content {
    height 100%;
    overflow auto;
    padding 0 30px;

    .head {
      text-align center;

      h3 {
        font-weight: normal;
        font-size: 18px;
        margin-top: 42px;
      }

      h2 {
        font-size: 23px;
      }

      p {
        font-weight 600;
        font-size 16px;

        em {
          color #FF792C;
          font-weight 600;
          font-style normal;
        }
      }
    }

    .body {
      img {
        max-width: 100%;
        border: 4px solid #fff;
        border-radius: 5px;
      }

      .order-steps {
        h3 {
          font-size: 15px;
          font-weight: 600;
          text-transform: uppercase;
        }

        .legend {
          color #FF792C;
        }
      }

      .notes {
        color #FF792C;
      }
    }
  }
}