.login-button {
  background-color: #555;
  color: #fff;
  padding: 11px 0 0 58px;

  img {
    position: absolute;
    top: 10px;
    left: 15px;

    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .text {
    height 100%;
    padding-top: 5px;
  }

  .hotline {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 32px;
    font-size: 18px;
    background-color: #ff792c;

    color: #fff;
    border-radius: 50%;
  }
}