.sample {
  width 100%;
  height 100%;
  background #aeeeee;

  position relative;
  padding-bottom: 80px;

  img {
    position absolute;
  }

  .ground {
    position: absolute;
    left: 0;
    bottom: 0;
    width 100%;
    height 84px;

    background #4aa62b;
  }
}