.customer-info-step {
  height 100%;
  background: url(../../assets/img/main-left.gif) center no-repeat;
  background-size: cover;

  .header {
    padding-top 26px;
    text-align center;
    img {
      width 195px;
    }

    .text {
      margin-top 20px;

      text-transform: uppercase;
      font-size: 15px;
      margin-bottom: 0;
      font-weight: 700;
      color: #777;

      .small {
        font-size: 10px;
        font-weight: 400;
        padding-left: 6px;
      }
    }
  }

  .form {
    max-width 260px;
    margin 10px auto 0;

    .delivery-time-radio {

      img {
        width: 20px;
        margin-right: 6px;
        border: 1px solid #ccc;
        border-radius: 50%;
      }
    }
  }
}