.flip-panel {
  overflow hidden;
  position relative;

  .flip-card {
    position absolute;
    height 100%;
    width 100%;
    left 0;
    overflow-y auto;

    &.slide-up-enter {
      top 100%;
    }
    &.slide-up-enter.slide-up-enter-active {
      top 0;
      transition: top 300ms ease;
    }
    &.slide-up-leave {
      z-index -1;
    }

    &.slide-down-leave {
      top 0;
    }
    &.slide-down-leave.slide-down-leave-active {
      top 100%;
      transition: top 300ms ease;
    }

  }
}