.flip-panel {
  overflow hidden;
  .flip-card {
    height 100%;
    overflow-y auto;


    &.slide-up-enter {
      position absolute;
      width 100%;
      z-index 1;

      top 100%;
    }
    &.slide-up-enter.slide-up-enter-active {
      top 0;
      transition: top 30000ms ease;
    }

    &.slide-down-leave {
      position absolute;
      width 100%;
      top 0;
    }
    &.slide-down-leave.slide-down-leave-active {
      top 100%;
      transition: top 30000ms ease;
    }

  }
}