html, body {
  height 100%;
}
body {
  margin 0;
}
body {
  font-family 'Open Sans', sans-serif
  -ms-overflow-y auto !important
  font-size 14px
}

* {
  box-sizing border-box;
}

#app-container {
  height 100%;
}

a {
  text-decoration none;
  cursor pointer;
  color text-blue;
  &:hover {
    color darken(text-blue, 20%);
  }

}