html, body {
  height 100%;
}
body {
  margin 0;
}
body {
  font-family: 'Source Sans Pro', 'sans-serif' !important;
  -ms-overflow-y auto !important
  font-size 14px
}

button {
  font-family: 'Source Sans Pro', 'sans-serif';
  font-size 14px
  outline none;
}

* {
  box-sizing border-box;
}

#app-container {
  height 100%;
}

a {
  text-decoration none;
  cursor pointer;
  color text-blue;
  &:hover {
    color darken(text-blue, 20%);
  }

}