//background-gray = #f6f6f6
//background-dark-gray = #414141
//background-dark-gray-1 = #bdbdbd
//background-light-gray = #fcfcfc
//background-light-gray-1 = #fbfbfb
//background-green = #81c784
//background-green-1 = #71c075
//background-light-green = #e5e8c6
//background-blue = #03a9f4
//background-red = #f44336
//background-light-blue = #e1f5fe
text-blue = #03a9f4
//text-black = #212121
//text-black-1 = #1d1d1d
//text-black-2 = #414141
//text-red = #f44336
//text-gray = #8f8f8f
//text-gray-1 = #646464
//text-gray-2 = #3c3c3c
//text-small-blue = #00b3ea
//border-red = #f44336
//border-green = #81be41
//border-dark-green = #67bb6b
//border-gray = #e4e4e4
//icon-yellow = #ffee58
//icon-gray = #cecece
//icon-gray-1 = #a6bcc6
//icon-light-gray = #bfbfbf
//icon-dark-gray = #5a5a5a
//icon-green = #4caf50
//icon-blue = #03a6ef
//icon-red = #f44336
//box-shadow = 0 3px 18px 1px rgba(0, 0, 0, 0.11)
//border = 1px solid #efefef
//
//// dev-action
//color-blue = #03a6ef