.summary-step .bill-items {
  .bill-item {
    .product-name {

    }

    .sizes {
      .size {
        .name-price {

        }
        .qty {

        }
        .total {

        }
      }
    }
  }
}