.summary-step {
  height 100%;
  background: url(../../assets/img/order-mobile.gif) center no-repeat;
  background-size: cover;
  overflow auto;

  .header-separator {
    background: url(../../assets/img/Pattern.png) center;
    background-size: contain;
    height: 15px;

    margin-bottom 25px;
  }
}